<html>
<head>
    <title>Search</title>
</head>
<body>
	{% if errors %}
<!--
        <p style="color: red;">Please enter a search term 20 characters or shorter.</p>
-->
        <ul>
            {% for error in errors %}
            <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
	{% endif %}
<!--
    <form action="/search/" method="get">
-->
    <form action="" method="get">
	    <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
</body>
</html>
