<settings>
   <setting id="dvdplayer" type="bool" label="30000" default="false"/>
   <setting id="download" type="bool" label="30001" default="false"/>
   <setting id="download_path" type="folder" source="files" label="30002"  option="writeable" default="D:\"/>
   <setting id="ask_filename" type="bool" label="30008" default="false"/>
   <setting id="download_ask" type="bool" enable="eq(-3,false)" label="30003" default="false"/>
</settings>
